{% extends "admin/layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  {% if session.logged_in %}
	<div class="row">
	  <div class="col-sm-3">
      	<ul id="tree" class="nav contents">
      	</ul>
	  </div>
	  <div class="col-sm9">
      	<div id="map">
      	</div>
	  </div>
	</div>
  {% else %}
      <h2><a href="login">Identifiqueu-vos</a> per entrar.</h2>
  {% endif %}
{% endblock %}

{% block styles %}
   <link rel="stylesheet" href="../static/css/leaflet.css"/>
   <link rel="stylesheet" href="../static/css/leaflet.draw.css"/>
   <!--[if lt IE 9]>
   	  <link rel="stylesheet" href="../static/css/leaflet.ie.css"/>
      <link rel="stylesheet" href="../static/css/leaflet.draw.ie.css"/>
   <![endif]-->
{% endblock %}

{% block scripts %}
    <script src="../static/js/require.js" data-main="static/admin"></script>
{% endblock %}
