<!DOCTYPE html>
  <!--[if lt IE 7]>  <html class="ie lt-ie9 lt-ie8 lt-ie7" lang="ca"><![endif]-->
  <!--[if IE 7]>  <html class="ie lt-ie9 lt-ie8" lang="ca"><![endif]-->
  <!--[if IE 8]>  <html class="ie lt-ie9" lang="ca"><![endif]-->
  <!--[if gt IE 8]><!-->  <html lang="ca"><!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon"/>
    <title>Editor del MCM</title>
    <link rel="stylesheet" href="static/admin.css"/>
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
	{% block styles %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-inverse">
    	<div class="container">
	        <div class="navbar-header">
	          <a class="navbar-brand" href="#">Editor del MCM</a>
	        </div>
			<ul 	class="nav navbar-nav navbar-right">
			{% if not session.logged_in %}
			    <li><a href="{{ url_for('.login') }}">entrar</a></li>
			{% else %}
			    <li><a href="{{ url_for('.logout') }}">sortir</a></li>
			{% endif %}
			</ul>
		</div>
    </nav>

	<div class="container">
		{% for message in get_flashed_messages() %}
		  <div class="alert alert-info">
		  	{{ message }}
		  </div>
		{% endfor %}
		{% block body %}{% endblock %}
	</div>

	{% block scripts %}{% endblock %}
  </body>
</html>