{% extends "admin/layout.html" %}
{% block body %}
  <h2>Login</h2>
  {% if error %}
    <div class="alert alert-danger">
  	  <strong>Error:</strong> {{ error }}
    </div>
  {% endif %}
  <form class="form-horizontal" role="form" action="{{ url_for('.login') }}" method=post>
	  <div class="form-group">
	    <label for="username" class="col-lg-2 control-label">Nom d'usuari</label>
	    <div class="col-lg-10">
	      <input type="text" class="form-control" id="username" name="username" placeholder="User">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="password" class="col-lg-2 control-label">Contrassenya</label>
	    <div class="col-lg-10">
	      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-lg-offset-2 col-lg-10">
	      <button type="submit" class="btn btn-default">Login</button>
	    </div>
	  </div>
	</form>  
{% endblock %}