h1, h4 {
    text-align: center;
}

#map {
    height: 480px;
}

#title {
    margin-top: 0;	
}

#details div {
	margin-top: 15px;
	margin-bottom: 15px;
}

#details img {
    border-radius: 5px;
	max-height: 128px;
}

#details table {
    margin-left: auto; 
    margin-right: auto;
}

#details table td {
    padding: 12px;
}

#details ul {
    padding-left: 0;
}

#details li {
    display: block;
}

#map, #details div {
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border: 1px solid #bbb;
}

.geometry {
	color: #FF0000;
}

.contents {
    margin-top: 50px;
}