<div class="content-peca">
	<button type="button" class="close">&times;</button>
	{{#image}}
	<div class="content-pecagran">
		<img class="img-detail" src="{{.}}">
    </div>
    {{/image}}
	<div class="content-infopeca">
		<div class="titolpeca {{collection.id}}">{{title}}</div>
		{{#short_fields}}
			<div class="campinfopeca">{{key}}:</div>
			<div class="valueinfo">{{value}}</div>
    	{{/short_fields}}			
	</div>
	{{#long_fields}}
	<div class="titoldescpeca">{{key}}</div>
	<div class="descpeca">
		<div class="two-column-paragraph">{{value}}</div>
	</div>
	{{/long_fields}}
</div>
<div style="clear:both"></div>
