<div class="row">
	<div class="col-lg-12">
		<span class="white">Classifica col·leccions per: </span>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="btn-group" id="field-menu" style="margin:10px;margin-bottom:16px;">
			<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				<span class="selected"> </span>
				<span class="caret"> </span>
			</button>
			<ul class="dropdown-menu">
				{{#.}}
				<li><a href="#" data-field='{"id": "{{id}}", "name": "{{name}}"}'><i class="fa fa-cel-{{id}}"> </i> {{name}} </a></li>
				{{/.}}
			</ul>
		</div>
	</div>
</div>
