<div class="row">
	<div class="col-sm-12">
		<div class="form-group">
			<div class="controls">
			    <div class="input-group">
				    <input id="appendedInputButton" class="form-control" size="16" type="text">
				    <span class="input-group-btn"><button class="btn btn-large" type="button">Cerca</button></span>
			    </div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="form-group">
		    <div class="controls">
			    <div class="input-group">
				    <span class="input-group-addon"><i class="fa fa-calendar"> </i></span>
				    <input class="form-control" id="daterange" value="01/01/0000 - 31/01/2014" type="text">
			    </div>
		    </div>
		</div>
	</div>
</div>
