<!DOCTYPE html>
<html lang="ca">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon"/>
    <title>Mapa del Museu de les Cultures del Món [MAQUETA]</title>
    <link rel="stylesheet" href="static/css/bootstrap.css"/>
    <link rel="stylesheet" href="static/css/leaflet.css"/>
    <link rel="stylesheet" href="static/css/tree.css"/>
    <link rel="stylesheet" href="static/css/icub-mcm.css"/>
    <link rel="stylesheet" href="static/css/MarkerCluster.css"/>
    <link rel="stylesheet" href="static/css/MarkerCluster.Default.css"/>
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="static/css/leaflet.ie.css"/>
    <![endif]-->
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="static/css/MarkerCluster.Default.ie.css"/>
    <![endif]-->
  </head>
  <body>
  	<div class="container">
      <div class="navbar navbar-inverse">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
          	<img src="static/img/logo_bn.png"/>
          	<span style="padding-left:10px;">Mapa del Museu de les Cultures del Món [MAQUETA]</span>
          	</a>
        </div>
      </div>
      <!--ol id="breadcrumb" class="breadcrumb">
      </ol-->
    </div>
    
    <div class="container">
      <div id="map">
      </div>
      <div id="description">
      </div>
    </div>

    <script src="static/js/lib/require.js" data-main="static/js/icub-mcm"></script>
  </body>
</html>
