<!DOCTYPE html>
<html lang="ca">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon"/>
    <title>Museu de les Cultures del Món</title>
    <link rel="stylesheet" href="static/css/bootstrap.css"/>
    <link rel="stylesheet" href="static/css/leaflet.css"/>
    <link rel="stylesheet" href="static/css/icub-mcm.css"/>
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="static/css/leaflet.ie.css"/>
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="container">
      <div class="navbar navbar-inverse">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
          	<img src="http://barcelonacultura.bcn.cat/sites/all/themes/canalcultura/images/logo_bn.png"/>
          	<span style="padding-left:10px;">Museu de les Cultures del Món</span>
          	</a>
        </div>
      </div>
    </div>
    
    <div class="container">

      <ol id="breadcrumb" class="breadcrumb">
	    <li class="head"><a href="#">Món</a></li>
	    <li><a href="#1">Àfrica</a></li>
	    <li><a href="#1/42228">cultura Edo, regne de Benín</a></li>
	    <li class="active">Placa decorativa</li>
	    <li class="next">Next...</li>
	  </ol>

      <div id="map"></div>

    </div>

    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/leaflet-src.js"></script>
    <script src="static/js/icub-mcm.js"></script>
  </body>
</html>
