<button type="button" class="close">&times;</button>
<h2>{{#translate}}advanced_search_title{{/translate}}</h2>
<form id="advanced-search" class="form-horizontal" role="form">
	<div class="form-group">
		<label for="dateFrom" class="col-sm-2 control-label">{{labels.search}}</label>
		<div class="col-sm-10">
			<input name="search" type="search" class="form-control input-sm">
		</div>
	</div>
	<div class="form-group">
		<label for="collectionId" class="col-sm-2 control-label">{{labels.collectionId}}</label>
		<div class="col-sm-10">
			<select class="form-control selectpicker" name="collectionId">
				<option value="">({{#translate}}any{{/translate}})</option>
				<option value="africa">{{#translate}}africa{{/translate}}</option>
				<option value="america">{{#translate}}america{{/translate}}</option>
				<option value="asia">{{#translate}}asia{{/translate}}</option>
				<option value="oceania">{{#translate}}oceania{{/translate}}</option>
			</select>
		</div>
	</div>
	{{#fields}}
	<div class="form-group">
		<label for="{{name}}" class="col-sm-2 control-label">{{label}}</label>
		<div class="col-sm-10">
			<select class="form-control selectpicker" data-live-search="true" name="{{name}}">
				<option value="">({{#translate}}any{{/translate}})</option>
				{{#values}}
				<option value="{{.}}">{{.}}</option>
				{{/values}}
			</select>
		</div>
	</div>
	{{/fields}}
	<div class="form-group">
		<label for="recordNumber" class="col-sm-2 control-label">{{labels.recordNumber}}</label>
		<div class="col-sm-10">
			<input name="recordNumber" class="form-control input-sm">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-8 col-sm-3">
			<button type="submit" class="btn btn-primary btn-block">{{labels.submit}}</button>
		</div>
	</div>
</form>