{{! Data Sample
	[{
		"museum": {
			"acronym": "MCM",
			"name": "Museu de les cultures del món"
		},
	    "id": "africa",
	    "name": "Àfrica",
	    "json": "...",
	    "fields": [
	        {
	            "museum": {
					"acronym": "MCM",
					"name": "Museu de les cultures del món"
				},
	            "collection": {
	            	"id": "africa",
	            	"name": "Àfrica"
	            },
	            "count": 59,
	            "name": "culture",
	            "value": "Cultura Fang",
	            "json": "..."
	        }
	    ]
	}];
}}
<ul id="tree" class="nav contents">
    {{#.}} {{! Collections }}
	<li class="collection" id="{{id}}" data-tree='{{json}}'>
		<a data-toggle="collapse" data-parent="#tree" data-target="#{{id}} > ul"><img src="../img/collections/{{id}}-white-icon.png" width="24"/>&nbsp;&nbsp; {{name}}</a>
		<ul class="nav collapse" style="height: auto;">
			{{#fields}} {{! Field Values }}
			<li class="{{name}}" data-tree='{{json}}'>
				<a><i class="fa fa-cel-{{name}}"> </i>&nbsp;&nbsp;{{value}}<span class="label">{{count}}</span></a>
			</li>
			{{/fields}}
		</ul>
	</li>
	{{/.}}
</ul>
