{{! Data Sample
	[{
	    "id": "africa",
	    "name": "Àfrica",
	    "items": [
	        {
	            "id": "cultura-fang",
	            "name": "Cultura Fang",
	            "collection": "africa",
	            "items": [
	                {
	                    "id": 123456,
	                    "name": "Objecte"
	                    "collection": "africa",
	                    "culture": "cultura-fang"
	                }
	            ]
	        }
	    ]
	}];
}}
<ul id="tree" class="nav contents">
    {{#.}} {{! Collections }}
	<li class="collection" id="{{id}}">
		<a data-toggle="collapse" data-parent="#tree" data-target="#{{id}} > ul"><i><img src="../img/icons/{{id}}-icon.png" width="24"/></i>&nbsp;&nbsp;{{name}}</a>
		<ul class="nav collapse" style="height: auto;">
			{{#items}} {{! Cultures }}
			<li class="culture" id="{{id}}">
				<a data-toggle="collapse" data-parent="#{{collection}}" data-target="#{{id}} > ul"><i class="fa fa-cel-culture"></i>&nbsp;&nbsp;{{name}}<span class="label">{{items.length}}</span></a>
				<ul class="nav collapse">
				    {{#items}} {{! Objects }}
					<li class="object" id="{{id}}">
						<a><i class="fa fa-cel-object"></i>&nbsp;&nbsp;{{name}}</a>
					</li>
					{{/items}}
				</ul>
			</li>
			{{/items}}
		</ul>
	</li>
	{{/.}}
</ul>
