{{! Data Sample
	[{
		"museum": {
			"acronym": "MCM",
			"name": "Museu de les cultures del món"
		},
	    "id": "africa",
	    "name": "Àfrica",
	    "json": "...",
	    "fields": [
	        {
	            "museum": {
					"acronym": "MCM",
					"name": "Museu de les cultures del món"
				},
	            "collection": {
	            	"id": "africa",
	            	"name": "Àfrica"
	            },
	            "count": 59,
	            "name": "culture",
	            "value": "Cultura Fang",
	            "json": "..."
	        }
	    ]
	}];
}}
<ul class="nav nav-pills nav-stacked">
    {{#.}} {{! Collections }}
	<li class="collection" id="{{id}}" data-tree='{{json}}'>
		<a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="img/collections/{{id}}-black-icon.png" width="24"/>&nbsp;&nbsp; {{name}}</a>
		<ul class="dropdown-menu right-menu">
			{{#fields}} {{! Field Values }}
			<li class="three-column {{name}}" id="{{slug}}" data-tree='{{json}}'>
				<a><span class="badge pull-right">{{count}}</span>{{value}}</a>
			</li>
			{{/fields}}
		</ul>
	</li>
	{{/.}}
</ul>
