<div id="gallery-criteria-data" data-criteria='{{criteria_json}}'> </div>
<h2 class="{{criteria.collection.id}}">{{title}}</h2>
{{#paging}}
<div class="row">
	<div class="col-lg-12">
		<ul class="pager">
			<li class="previous {{^prev}}disabled{{/prev}}"><a>&larr; Anteriors</a></li>
			<li>Mostrant peces {{from}} a {{to}} d'un total de {{total}}</li>
			<li class="next {{^next}}disabled{{/next}}"><a>Següents &rarr;</a></li>
		</ul>
	</div>
</div>
{{/paging}}
<div class="row gallery">
	{{#objects}}
	<div class="col-xs-3">
		<div class="item" data-object='{{json}}'>
			{{#img}}
			<img src="{{.}}" alt="objectName">
			{{/img}}
	        {{#objectName}}
	        <h4>{{.}}</h4>
	        {{/objectName}}
        	{{#author}}
	        	<div><strong>{{.}}</strong></div>
        	{{/author}}
        	{{#creationDate}}
	        	<div>{{.}}</div>
        	{{/creationDate}}
        	{{#culture}}
	        	<div>{{.}}</div>
    		{{/culture}}
    		{{#provenance}}
	        	<div>{{.}}</div>
    		{{/provenance}}
		</div>
	</div>
	{{#row}}
	</div>
	<div class="row gallery">	
	{{/row}}
	{{/objects}}
	{{^objects}}
	<div class="col-lg-12">
		<div class="well well-lg">
			<p style="text-align:center;">No s'ha trobat cap peça amb aquests criteris de sel·lecció</p>
		</div>
	</div>
	{{/objects}}
</div>
{{#paging}}
<div class="row">
	<div class="col-lg-12">
		<ul class="pager">
			<li class="previous {{^prev}}disabled{{/prev}}"><a>&larr; Anteriors</a></li>
			<li>Mostrant peces {{from}} a {{to}} d'un total de {{total}}</li>
			<li class="next {{^next}}disabled{{/next}}"><a>Següents &rarr;</a></li>
		</ul>
	</div>
</div>
{{/paging}}