@media (min-width: 1200px) {
  a#main-menu-toggle {
    margin-left: 25%;
  }
  a.navbar-brand {
    width: 25%;
  }
  .container #content {
    width: 75%;
  }
  .container #sidebar-left {
    width: 25%;
    min-height: 600px;
  }
  .container #content {
    padding-bottom: 99999px;
    margin-bottom: -99999px;
  }
  .container > .row {
    overflow: hidden;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  a#main-menu-toggle {
    margin-left: 25%;
  }
  a.navbar-brand {
    width: 25%;
  }
  .container #content {
    width: 75%;
  }
  .container #sidebar-left {
    width: 25%;
    min-height: 600px;
  }
  .container #content {
    padding-bottom: 99999px;
    margin-bottom: -99999px;
  }
  .container > .row {
    overflow: hidden;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  a#main-menu-toggle {
    margin-left: 25%;
  }
  a.navbar-brand {
    width: 25%;
  }
  .container #content {
  	width: 75%;
  }
  .container #sidebar-left {
    width: 25% !important;
    min-height: 600px;
  }
  .nav {
    padding-left: 10px;
  }
  .container #content {
    padding-bottom: 99999px;   
    margin-bottom: -99999px;
  }
  .container > .row {
    overflow: hidden;
  }

}
@media only screen and (max-width: 767px) {
  .navbar {
    background: none;
  }
  .navbar-collapse {
    max-height: 320px;
  }
  .container > .row > #content {
    overflow: hidden;
  }
}

.navbar-toggle {
    top: -3px;
}

#museums .btn, #fields .btn {
	white-space: normal;
}

.fa-cel-museum:before {
  content: "\f015";
}
.fa-cel-collection:before {
  content: "\f00a";
}
.fa-cel-none:before {
  content: "\f05e";
}
.fa-cel-author:before {
  content: "\f007";
}
.fa-cel-culture:before {
  content: "\f0c0";
}
.fa-cel-material:before {
  content: "\f000";
}
.fa-cel-objectName:before {
  content: "\f02b";
}
.fa-cel-place:before {
  content: "\f0ac";
}
.fa-cel-technique:before {
  content: "\f0ad";
}
.fa-cel-gallery:before {
  content: "\f03e";
}
.fa-cel-object:before {
  content: "\f091";
}

#login_form input[type="text"], #login_form input[type="password"] {
    background: none repeat scroll 0 0 #E4E6EB;
    border: 0 none;
    border-radius: 2px;
    box-shadow: none;
    height: 40px;
    margin: 5px auto;
    padding: 0 10px;
}

#map {
    height: 480px;
}

.leaflet-top, .leaflet-bottom {
    z-index: 999;
}

.mcm-hide-marker {
	border: 0;
}

#timeline > div {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    border: 1px solid #bbb;
}

img.tiny {
	max-height: 32px;
	border: 1px solid #666666;
	border-radius: 3px;
}

.marker-out {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;	
}

.marker-out img {
	margin: 3px;
}

.marker-out span {
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
    -moz-user-select: none;
    cursor: pointer;
    background-color: #428BCA;
    border: 1px solid #357EBD;
    color: #FFFFFF;
	border-radius: 3px;	
}

.cluster-out span {
    background-color: #D9534F;
    border-color: #D43F3A;
}

.marker {
    background-color: #428BCA;
    border: 1px solid #357EBD;
    color: #FFFFFF;
	border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
}

.cluster {
    background-color: #D9534F;
    border-color: #D43F3A;
}

.marker.marker-selected, .marker-out.marker-selected span {
    background-color: #5CB85C;
    border-color: #4CAE4C;
}

.descripcio_peca {
    padding: 24px;
}

.descripcio_peca dt {
	margin-bottom: 6px;
}

.descripcio_peca dd {
	display: block;
	padding-bottom: 24px;
	margin-left: 24px;
	text-align: justify;
}

.circle {
    width: 15px;
    height: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid rgb(170, 136, 0);
    background-color: rgba(170, 136, 0, 0.5);
}
