#brand.v2013, .creative-commons, .accesimapa, .finalpeu, .options, .social, .language-selector, #brand.v2013 .brand-wrapper .navigation ul.options .more ul {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

html, body, p {
    font-family: 'AvenirNext','Lato',Arial,Helvetica,sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'AvenirNext','Lato',Arial,Helvetica,sans-serif;
}

.container {
  width: 100% !important;
}

#autors_i_adreces_comunes {
	display: none;
}

#sidebar-left, .row.margin {
	padding-top: 24px;
}

#tree {
	padding-top: 24px;
    font-size: 20px;
}

#tree a {
	color: #707070;	
}

button {
	font-family: Arial,Helvetica,sans-serif;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #CCCCCC;
    color: #707070;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #DDDDDD;
  color: #707070;
}

.nav-pills > li > a {
    border-radius: 0;
}

.right-menu {
	left: 100%;
	top: -2px;
	width: 700px;
	border-radius: 0;
	box-shadow: 0;
	padding: 10px;
}

.two-column {
	width: 50%;
	float: left;
}

.three-column {
	width: 33.3%;
	float: left;
}

#description, #gallery, #detail, #advanced-search-container {
	margin-bottom: 24px;
	padding: 20px;
	background: #FFFFFF;
}

#map {
    margin-bottom: 24px;
}

#advanced-search-container {
	display: none;		
}

.container, .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

h2 {
	text-transform: uppercase;
}

.africa {
	color: rgb(235, 98, 9);
}

.america {
	color: rgb(102, 61, 0);
}

.asia {
	color: rgb(230, 0, 126);
}

.oceania {
	color: rgb(183, 173, 159);
}

@media (min-width: 1200px) {
  a#main-menu-toggle {
    margin-left: 25%;
  }
  a.navbar-brand {
    width: 25%;
  }
  .container #content {
    width: 75%;
  }
  .container #sidebar-left {
    width: 25%;
    min-height: 600px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  a#main-menu-toggle {
    margin-left: 25%;
  }
  a.navbar-brand {
    width: 25%;
  }
  .container #content {
    width: 75%;
  }
  .container #sidebar-left {
    width: 25%;
    min-height: 600px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  a#main-menu-toggle {
    margin-left: 25%;
  }
  a.navbar-brand {
    width: 25%;
  }
  .container #content {
  	width: 75%;
  }
  .container #sidebar-left {
    width: 25% !important;
    min-height: 600px;
  }
  .nav {
    padding-left: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar {
    background: none;
  }
  .navbar-collapse {
    max-height: 320px;
  }
  .container > .row > #content {
    overflow: hidden;
  }
}

.navbar-toggle {
    top: -3px;
}

#museums .btn, #fields .btn {
	white-space: normal;
}

.fa-cel-museum:before {
  content: "\f015";
}
.fa-cel-collection:before {
  content: "\f00a";
}
.fa-cel-none:before {
  content: "\f05e";
}
.fa-cel-author:before {
  content: "\f007";
}
.fa-cel-culture:before {
  content: "\f0c0";
}
.fa-cel-material:before {
  content: "\f000";
}
.fa-cel-objectName:before {
  content: "\f02b";
}
.fa-cel-place:before {
  content: "\f0ac";
}
.fa-cel-technique:before {
  content: "\f0ad";
}
.fa-cel-gallery:before {
  content: "\f03e";
}
.fa-cel-object:before {
  content: "\f091";
}

#login_form input[type="text"], #login_form input[type="password"] {
    background: none repeat scroll 0 0 #E4E6EB;
    border: 0 none;
    border-radius: 2px;
    box-shadow: none;
    height: 40px;
    margin: 5px auto;
    padding: 0 10px;
}

#map {
    height: 480px;
}

.leaflet-top, .leaflet-bottom {
    z-index: 999;
}

.mcm-hide-marker {
	border: 0;
}

#timeline > div {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    border: 1px solid #bbb;
}

img.tiny {
	max-height: 32px;
	border: 1px solid #666666;
	border-radius: 3px;
}

.marker-out {
    display: inline-block;
    font-weight: normal;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;	
}

.marker-out img {
	margin: 3px;
}

.marker-out span {
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
    -moz-user-select: none;
    cursor: pointer;
    background-color: #428BCA;
    border: 1px solid #357EBD;
    color: #FFFFFF;
	border-radius: 3px;	
}

.cluster-out span {
    background-color: #D9534F;
    border-color: #D43F3A;
}

.marker {
    background-color: #428BCA;
    border: 1px solid #357EBD;
    color: #FFFFFF;
	border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
}

.cluster {
    background-color: #D9534F;
    border-color: #D43F3A;
}

.marker.marker-selected, .marker-out.marker-selected span {
    background-color: #5CB85C;
    border-color: #4CAE4C;
}

.descripcio_peca {
    padding: 24px;
}

.descripcio_peca dt {
	margin-bottom: 6px;
}

.descripcio_peca dd {
	display: block;
	padding-bottom: 24px;
	margin-left: 24px;
	text-align: justify;
}

.circle {
    width: 15px;
    height: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid rgb(170, 136, 0);
    background-color: rgba(170, 136, 0, 0.5);
}

.blur {
	filter: url(blur.svg#blur); /* Firefox */
	-webkit-filter: blur(5px);  /* Webkit */
	filter: blur(5px);          /* Standard */
}
