.sidebar-nav > ul {
    white-space: normal;
}

.contents {
    background-color: #383E4B;
    font-size: 14px;
}
.contents > li > a, .contents .nav > li > a, .contents .nav .nav > li > a {
    color: #FFFFFF;
    display: block;
    padding: 10px 15px;
}
.contents > li > a:hover, .contents > li > a:focus {
    background-color: #2D323D;
}
.contents .nav > li > a:hover, .contents .nav > li > a:focus {
    background-color: #2D323D;
    color: #FFFFFF;
}
.contents .nav > .active > a, .contents > .active > a, .contents > .active:hover > a, .contents > .active:focus > a {
    background-color: #2D323D;
    color: #FFFFFF;
}
.contents .nav {
    margin-bottom: 4px;
}
.contents .nav > li > a {
    padding: 10px 30px;
}
.contents .nav .nav > li > a {
    padding: 10px 50px;
}