.contents {
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border: 1px solid #bbb;
    background-color: #F7F5FA;
    border-radius: 5px;
    text-shadow: 0 1px 0 #FFFFFF;
    margin-bottom: 15px;
}
.contents > li > a {
    color: #716B7A;
    display: block;
    padding: 3px 20px;
    font-weight: bold;
    border-top: 1px dashed #E5E3E9;
}
.contents .nav > li > a {
    color: #716B7A;
    display: block;
}
.contents > li > a:hover, .contents > li > a:focus {
    background-color: #E5E3E9;
    border-right: 1px solid #DBD8E0;
    text-decoration: none;
}
.contents .nav > .active > a, .contents > .active > a, .contents > .active:hover > a, .contents > .active:focus > a {
    background-color: #E5E3E9;
    border-right: 2px solid #563D7C;
    color: #563D7C;
    font-weight: bold;
}
.contents .nav {
    margin-bottom: 4px;
}
.contents .nav > li > a {
    font-size: 95%;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-top: 1px;
}
.contents .nav .nav > li > a {
    font-size: 80%;
    padding-bottom: 1px;
    padding-left: 50px;
    padding-top: 1px;
}