#map {
    height: 480px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border: 1px solid #bbb;
}

.page-header {
	font-weight: bold;
}

.description {
    margin: 6px 0;
    padding: 6px;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.description .media {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 9px;
    margin: 20px;
}

.description .media-heading {
	padding-top: 8px;
	padding-left: 12px;
	font-weight: bold;
}

.description .media-body {
	text-align: left;
}

.description .img-thumbnail {
	max-height: 140px;
}

.description .media-body ul {
	list-style-type: none;
	padding: 0px;
	margin: 12px;
}

#cultura-description {
	text-align: left;
}

.navbar-brand {
	padding: 0;
}

.navbar-brand img {
	margin-top: 3px;
}


.leaflet-top, .leaflet-bottom {
    z-index: 999;
}

.navbar-inverse {
    background-color: #000000;
    border-color: #080808;
}

.breadcrumb > .head {
    font-weight: bold;
}

.breadcrumb > .next {
    color: #999999;
    font-style: italic;
}

.mcm-hide-marker {
	border: 0;
}

#timeline > div {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    border: 1px solid #bbb;
}

img.tiny {
	max-height: 32px;
	border: 1px solid #666666;
}

.marker {
    background-color: #428BCA;
    border: 1px solid #357EBD;
    color: #FFFFFF;
	border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 5px;
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
}

.cluster {
    background-color: #D9534F;
    border-color: #D43F3A;
}

.marker-selected {
    background-color: #5CB85C;
    border-color: #4CAE4C;
}
