#map {
    height: 480px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border: 1px solid #bbb;
}

.page-header {
	font-weight: bold;
}

.description {
    margin: 6px 0;
    padding: 6px;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.description .media {
    border-top: 1px solid #EEEEEE;
    padding-top: 9px;
    margin: 20px;
}

.description .media-heading {
	padding-top: 8px;
	padding-left: 12px;
	font-weight: bold;
}

.description .media-body {
	text-align: left;
}

.description .img-thumbnail {
	max-height: 140px;
}

.description ul {
	list-style-type: none;
	padding: 0px;
	margin: 12px;
}

.navbar {
	min-height: 0;
	height: 44px;
}

.navbar-brand {
	padding: 0;
}

.navbar-brand > img {
    position: relative;
    top: -2px;
    left: -2px;
    padding-left: 1px;
    font-weight: bold;
}

.navbar-inverse {
    background-color: #000000;
    border-color: #080808;
}

.breadcrumb > .head {
    font-weight: bold;
}

.breadcrumb > .next {
    color: #999999;
    font-style: italic;
}

.mcm-hide-marker {
	border: 0;
}

#timeline > div {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    border: 1px solid #bbb;
}